/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #dfd8f1;
}
body {
  font-family: var(--default-font-family);
  background: black;
  color: white;
}
h1,
h2,
h5,
h6 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  color: white;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
  color: var(--branding-color);
}
a {
    color: var(--branding-color);
    text-decoration: none;
}
img{
  border-radius: 20px;
  border: 2px solid white;
}

.more-work{
  display: block;
  text-align: center;
  font-size: 20px;
}
.more-work:hover{
  color: white;
  transition: 150ms ease-in-out;
}
.no-stroke{
  border: none;
}

.bg-custom {
  background-color: var(--branding-color);
}
.navbar-dark .navbar-toggler {
  border-color: white;
}

.hero {
  background: black;
  text-align: center;
  padding: 40px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: white;
}
.hero h1 {
  color: white;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  color: white;
}
.content-container {
  padding: 40px 20px;
  margin-left: 10px;
}
.content h1 {
  font-size: 56px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 26px;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  color: white;
}


.btn-branding {
  background: var(--branding-color);
  border-radius: 4;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  background: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: medium;
  line-height: 27px;
  border: 1px solid var(--branding-color);
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover{
background: var(--branding-color);
color: white;
}
.project-description {
    padding: 50px 60px;
}

.mt-5-patricia {
  padding-top: 100px;
}
.logo {
  max-height: 100px;
  margin: 0;
}
.weather-app{
  border-radius: 20px;
}
.seagull{
  margin-left: 60px;
  margin-top: 100px;
}
.blood{
    margin-left: 60px;
}
.vertebrate{
  margin-top: -160px;
  margin-left: -8px;
}


nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 45px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 8px 14px;
  border-radius: 50%;
  font-size: 18px;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    list-style: 56px;
    text-align: center;
  }
  h2 {
    font-size: 42px;
    line-height: 26px;
  }
  h3 {
    font-size: 26px;
  }
  p{
  padding: 0 20px
  }

  .hero {
    padding: 20px 30px;
  }
  .hero h2 {
    line-height: 1.2;
  }

  .content {
    text-align: center;
    padding: 0 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content h1{
    font-size: 30px;
    line-height: 40px;
  }


  nav a {
    font-size: 14px;
    margin: 2px;
  }
  nav {
    padding: 0px 0;
  }
  .small-cat {
    width: 75px;
    padding-top: 10px;
    padding-left: 5px;
    margin: 10px 0 10px 10px;
  }
  .container{
      padding-left: 0;
  }

  .source-code{
      font-size: smaller;
      padding: 20px;
  }
  .content h3 {
  font-size: 15px;
  }
}